.panel-heading ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.panel-heading li {
    float: left;
    border-right:1px solid #bbb;
    display: block;
    padding: 14px 16px;
    text-align: center;
}
.panel-heading li:last-child:hover {
    background-color: #ccc;
}
.panel-heading li:last-child {
    border-right: none;
}
.panel-heading li a:hover {
    text-decoration: none;
}
.table.table-bordered tbody td {
    vertical-align: baseline;
}
.table>tbody>tr.warning>td {
    background-color: #fbf8ed;
}
.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    position: relative;
}
.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.btn-circle {
    border-radius: 5px!important;
}
.portfolio-content .btn {
    padding: 3px 10px !important;
}
.profile-userbuttons button {
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 600;
    padding: 4px 10px;
}
.cbp-l-grid-projects-title {
    font: 700 14px/21px "Open Sans", sans-serif;
    color: #474747;
    margin-top: 15px;
}
.cbp-l-grid-projects-desc {
    font: 400 12px/18px "Open Sans", sans-serif !important;
    color: #888888 !important;
    margin-top: 5px !important;
}
.tooltip-inner {
    background-color: #00acd6 !important;
    color: #fff;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #00acd6;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #00acd6;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #00acd6;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #00acd6;
}
.b-r {
    border-radius: 5px !important;
}
.tl{
    color: #ccc !important;
    position: absolute !important;
    margin: 5px 2px 4px 10px !important;
    z-index: 3 !important;
    width: 15px !important;
    text-align: center !important;
    left: 0 !important;
    font: 500 18px "Open Sans", sans-serif !important;
}

.s-k-130 {
    width: 183px !important;
    overflow: hidden !important; /* taşacak kısımları gizle. */
    white-space: nowrap !important; /* alt satırı gösterme, alt satıra inme. */
    text-overflow: ellipsis !important; /* uzunsa sonuna üç nokta koy. */
}
.s-k-120 {
    max-width: 183px !important;
    overflow: hidden !important; /* taşacak kısımları gizle. */
    white-space: nowrap !important; /* alt satırı gösterme, alt satıra inme. */
    text-overflow: ellipsis !important; /* uzunsa sonuna üç nokta koy. */
}
.s-k-180 {
    width: 180px !important;
    -webkit-line-clamp: 8 !important;
    overflow: hidden !important; /* taşacak kısımları gizle. */
    text-overflow: ellipsis !important; /* uzunsa sonuna üç nokta koy. */
}

.s-k-8 {
    width: 180px !important;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow:hidden;
}
/* The container */
.ascb {
    position: relative !important;
    padding-left: 35px !important;
    margin-bottom: 12px !important;
    cursor: pointer !important;
    font-size: 22px !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

/* Hide the browser's default checkbox */
.ascb input {
    position: absolute !important;
    opacity: 0 !important;
    cursor: pointer !important;
    height: 0 !important;
    width: 0 !important;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    height: 25px !important;
    width: 25px !important;
    background-color: #8c96ab !important;
}

/* On mouse-over, add a grey background color */
.ascb:hover input ~ .checkmark {
    background-color: #cca547 !important;
}

/* When the checkbox is checked, add a blue background */
.ascb input:checked ~ .checkmark {
    background-color: #b40b00 !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: ""  !important;
    position: absolute !important;
    display: none !important;
}

/* Show the checkmark when checked */
.ascb input:checked ~ .checkmark:after {
    display: block !important;
}

/* Style the checkmark/indicator */
.ascb .checkmark:after {
    left: 9px !important;
    top: 5px !important;
    width: 5px !important;
    height: 10px !important;
    border: solid white !important;
    border-width: 0 3px 3px 0 !important;
    -webkit-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
}
