.font5 > h5{
    font-size: 14px;
    font-weight: 100;
}
.font6 > h6 {
    font-size: 12px;
    font-weight: 100
}
.font6 > .cs6 {
    font-size: 12px;
    text-transform: lowercase;
    font-weight: 100
}
.themess {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-size: 0.93333rem;
    color: #fff !important;
    padding: 0 17px;
    border-radius: 2px;
}

@media (max-width: 770px) {
    .hero-style-1 .slide-caption > div.slide-title *, .hero-style-2 .slide-caption > div.slide-title *, .hero-style-3 .slide-caption > div.slide-title * {
        font-size: 18px;
        font-weight: 100;
    }
    .hero-style-1 .slide, .hero-style-2 .slide, .hero-style-3 .slide {
        height: auto;
        min-height: auto;
    }
    .hero-style-1, .hero-style-2, .hero-style-3 {
        height: auto;
        min-height: auto;
    }
    .features-section {
        margin: 0;
        padding: 0;
    }
    .hero-style-1 .slide-caption, .hero-style-2 .slide-caption, .hero-style-3 .slide-caption {
        text-align: center;
        padding: 50px 5px;
    }
    .theme-btn, .theme-btn-s2, .theme-btn-s3, .theme-btn-s4 {
        height: 35px;
        line-height: 35px;
        font-size: 15px;
        font-size: 1rem;
        padding: 0 18px;
    }
    .hero .slick-dots {
        bottom: 20px;
    }
    .site-footer .upper-footer .col {
        margin-bottom: 30px;
        display: flow-root;
    }
}
@media (max-width: 600px) {
    .site-footer .upper-footer .col {
        /* margin-bottom: 60px; */
        display: flow-root;
        text-align: center;
    }
    .site-footer .contact-widget ul li {
        border: 1px solid #585858;
    }
}

.anamenu{
    background-color: #129BF4;

}
.fa-iconi{
    font-size: 28px;
    font-weight: lighter;
}
.telefon{
    background-color: #ff5f00;
    color: #ffffff !important;
    border:5px solid #ff5f00;
}
.telefon > svg path {
    fill: #FFFFFF !important;
}
.telefon > svg:hover path {
    fill: #000000 !important;
}
.telegram{
    background-color: #08c;
    color: #ffffff !important;
    border:5px solid #08c;
}
.telegram > svg path {
    fill: #FFFFFF !important;
}
.telegram > svg:hover path {
    fill: #000000 !important;
}
.eposta{
    background-color: #f4cb10;
    color: #ffffff !important;
    border:5px solid #f4cb10;
}
.eposta > svg path {
    fill: #FFFFFF !important;
}
.eposta > svg:hover path {
    fill: #000000 !important;
}
.whatsap{
    background-color: #4dc247;
    color: #ffffff !important;
    border:5px solid #4dc247;
}
.whatsap > svg path {
    fill: #FFFFFF !important;
}
.whatsap > svg:hover path {
    fill: #000000 !important;
}
.mesaji{
    background-color: #4dcbd3;
    color: #ffffff !important;
    border:5px solid #4dcbd3;
}
.mesaji > svg path {
    fill: #FFFFFF !important;
}
.mesaji > svg:hover path {
    fill: #000000 !important;
}
.menu-hover{
    text-decoration: none !important;
    color: #ff5f00 !important;
    font-weight: 400 !important;
}
@media (max-width: 991px) {
    .f-xs {
        font-size: 20px !important;
    }
}
@media (max-width: 991px)   {
    .s-padding {
        padding: 30px 0;
    }
}
@media (max-width: 767px) {
    .site-footer .upper-footer {
        padding: 30px 0 10px;
    }
}
@media (max-width: 991px) {
    .features-section .features-grids .grid {
        margin-top: 10px;
    }
}
@media (min-width: 992px){
    .mainmenu li.menu-item-has-children > ul.megamenu.three-column > li {
        -moz-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 16%;
    }
}
.header-top-nav .dropdown-list {
    z-index: 999;
    background: #fff;
    width: 100%;
    border: 1px solid #ececec;
}


