#myModal{
    z-index: 99999999 !important;
}
.modal-dialog{
    max-width: 480px;
}
.m-h{
    padding: 15px;
    min-height: 51px
}
.m-h{
    cursor: pointer;
    font-size: 20px
}
.modal-title{
    color: #2b0001;
    text-align: center
}
.modal-title > h4{
    text-transform:capitalize !important;
    color: #9c5300;
}
.imagebuyut:active,.imagebuyut:hover{
    transform:scale(1.5);
    -ms-transform:scale(1.5); /* IE 9 */
    -moz-transform:scale(1.5); /* Firefox */
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -o-transform:scale(1.5); /* Opera */
    cursor: pointer;
}
.h-4{
    color: #00a4b0;
    line-height: 31px;
}
.imc-c{
    height: auto !important;
}
.p-s{
    padding-top: 15px;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    font-size: 16px !important;
}
.h-u{
    color: #8f9ea6;
    text-transform:lowercase !important;
    font-size: 20px  ;
}
.h-u >b{
    text-transform:lowercase !important;
    color: #830005;
}
