.kes-245 {
    width: 245px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height: 3.6em;
    font-size: 13px !important;
    line-height: 1.5em !important;
}
.kes-360 {
     width: 360px !important;
     overflow: hidden;
     display: -webkit-box;
     -webkit-line-clamp: 2;
     line-clamp: 2;
     -webkit-box-orient: vertical;
     text-overflow: ellipsis;
     height: 3.1em;
     font-size: 13px !important;
     line-height: 1.5em !important;
 }
.kes-tek {
    width: 230px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.kes-300 {
    width: 250px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height: 4.7em;
    font-size: 13px !important;
    line-height: 1.7em !important;
}

.kes-700-7 {
    width: 700px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    line-clamp: 7;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
 /*   height: 7.6em;*/
    font-size: 14px !important;
    line-height: 1.8em !important;
}
.kes-340-5 {
    width: 340px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height: 7.6em;
    font-size: 14px !important;
    line-height: 1.5em !important;
}
.kes-330-3 {
    max-width: 330px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height: 4.3em;
}
.kes-120-1 {
    width: 120px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height: 1.6em;
}
.kes-tek-sira {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.sol-menu{
    font-size: 15px !important;
    font-weight: 500;
}
.sol-menu:hover{
    border-bottom: none;
    background-color: #f4f4f4;
    text-transform: none;
    list-style-type: none;
    text-decoration: none;
    color: #02bbff !important;
}

.fact {
    padding: 20px 0px;
    text-align: center;
    display: -moz-flex;
    display: flex;
    -moz-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    justify-content: center;
}
#lightbox{
    margin-top: 200px !important;
}

@media (max-width: 992px){
    .hidden-xs{
        display: none !important;
    }
}
@media (max-width: 990px){
    .hidden-sm{
        display: none !important;
    }
}
@media (max-width: 47.94em){
    .mobile-menu .mean-bar .mean-nav > ul {
        max-height: 400px;
        overflow-y: auto;
    }
}
.category-nav__submenu.mega-menu.three-column {
    min-width: 210px;
    border-bottom: 1px solid #ececec;
}
@media (min-width: 992px){
    .category-nav__submenu__title {
        margin-bottom: 0px;
    }
}

.category-nav__submenu__title {
    color: #333333;
    text-transform: capitalize;
    font-size: 16px;
    padding-bottom: 0px;
}
@media (min-width: 992px){
    .category-nav__submenu.mega-menu {
        padding: 15px;
        flex-direction: row;
        display: flex;
    }
}
.category-nav__submenu {
    background: #68a8add4 !important;
}
@media (max-width: 1320px){
    .mainmenu li a {
        padding: 24px 23px;
    }
    .fn-b{
        font-size: 21px !important;
    }
    .fn-y{
        font-size: 15px !important;
    }
}
@media (max-width: 1300px){
    .mainmenu li a {
        padding: 24px 21px;
    }
}
@media (max-width: 1280px){
    .mainmenu li a {
        padding: 24px 20px;
    }
    .fn-b{
        font-size: 20px !important;
    }
    .fn-y{
        font-size: 14px !important;
    }
}
@media (max-width: 1260px){
    .mainmenu li a {
        padding: 24px 19px;
    }
}
@media (max-width: 1240px) {
    .mainmenu li a {
        padding: 24px 17px;
    }
}
    @media (max-width: 1220px){
        .mainmenu li a {
            padding: 24px 15px;
            font-size: 13px;
        }
        .fn-b{
            font-size: 19px !important;
        }
        .fn-y{
            font-size: 13px !important;
        }
    }
    @media (max-width: 1200px){
        .mainmenu li a {
            padding: 24px 15px;
            font-size: 13px;
        }
    }
    @media (max-width: 1180px){
        .mainmenu li a {
            padding: 24px 15px;
            font-size: 13px;
        }
    }
    @media (max-width: 1160px){
        .mainmenu li a {
            padding: 24px 15px;
            font-size: 13px;
        }
    }
    @media (max-width: 1140px){
        .mainmenu li a {
            padding: 24px 14px;
            font-size: 13px;
        }
    }
    @media (max-width: 1120px){
        .mainmenu li a {
            padding: 24px 13px;
            font-size: 13px;
        }
        .fn-b{
            font-size: 18px !important;
        }
        .fn-y{
            font-size: 12px !important;
        }
    }
@media (max-width: 779px){
    .fn-b{
        font-size: 17px !important;
    }
    .fn-y{
        font-size: 11px !important;
    }
}
.main-navigation {
    float: right;
}

@media (max-width: 1300px){
    .hero-area-two .home-content {
        min-height: 400px;
    }
}
@media (max-width: 780px){
    .hero-area-two .home-content {
        height: auto;
        min-height: 230px;
    }
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.6;
    color: inherit;
}
.blog-post .blog-content article p {
    margin: 0;
    padding-bottom: 20px;
    line-height: 2;
}
.sidebar-list {
    list-style: circle;
    padding-left: 15px;
}
.site-footer .single-footer.contact-block p {
    margin-bottom: 20px;
    padding-right: 0px;
    line-height: 1.45;
}
@media (max-width: 780px){
    .social-icons{
        text-align: center;
    }
}
@media (max-width: 780px){
    .widget-content > ul{
        text-align: center;
    }
    .widget-content > ul > li{
        border: 1px solid grey;
        margin: 5px 0;
    }
    .single-footer {
        text-align: center !important;
    }

}
