.widget_hdg h5 {
    color: #fff;
    font-weight: 100;
    text-transform: uppercase;
    padding-bottom: 15px !important;
    margin-bottom: 35px !important;
    position: relative;
    line-height: 20px !important;
    font-size: 19px !important;
}
.widget_hdg, .kode_widgt_outr_wrap {
    float: left;
    width: 100%;
}
.tagcloud > a {
    padding: 2px 7px;
    display: inline-block;
    background: #76818c;
    margin: 3px;
    border-radius: 5px;
    font-size: 12px;
}
.kode_foo_gallery > div > a {
    color: #000000;
}

@media (max-width: 990px) {
    .mobil{
        display: none !important;
    }
}
