/*
Theme Name: Pricing Table Framework
Author: Ark Logics
Author URI: https://themeforest.net/user/arklogics
Version: 1
Description: Base theme for HTML5
Text Domain: base
Tags: one-column, two-columns, three-columns
Theme URI: http://markhorthemes.com/html/demo/table
*/
/*------------------------------------------------------------------

1. import files / import files
2. Body / body
3. Wrapper / #wrapper
4. Bg Img / .bg-img
5. Price Sec / .price-sec
6. Back Top / #back-top
7. Loader Holder / .loader-holder
8. Responsive Layout / Responsive layout

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
1. import files / import files
-------------------------------------------------------------------*/
#wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}


/*------------------------------------------------------------------
2. Body / body
-------------------------------------------------------------------*/
body {
  font-weight: 400;
  margin: 0;
}

a:hover, a:focus, a.active {
  text-decoration: none;
  outline: none;
}

/*------------------------------------------------------------------
3. Wrapper / #wrapper
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
4. Bg Img / .bg-img
-------------------------------------------------------------------*/
.bg-img {
  min-height: 400px;
  padding: 150px 0 0;
  position: relative;
}

.bg-img:before {
  position: absolute;
  content: "";
  z-index: -1;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.bg-img h1 {
  font-size: 70px;
  line-height: 80px;
  color: #fff;
  margin: 0;
  font-weight: 500;
}

.bg-img h1 b {
  font-weight: 700;
}

/*------------------------------------------------------------------
5. Price Sec / .price-sec
-------------------------------------------------------------------*/
.price-sec {
  padding-top: 120px;
  overflow: hidden;
}

.price-sec .header {
  margin: 0 0 60px;
}

.price-sec h5 {
  font-size: 14px;
  line-height: 16px;
  color: #2f3542;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0 0 20px;
  margin: 0 0 60px;
  display: block;
  border-bottom: 1px solid #c2c4c8;
}

/*------------------------------------------------------------------
6. Back Top / #back-top
-------------------------------------------------------------------*/
#back-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 25px;
  line-height: 30px;
  color: #fff;
  cursor: pointer;
  float: right;
  width: 50px;
  height: 50px;
  padding: 9px 0;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  background: #1c1c1c;
  border-radius: 5px;
  transition: all 0.6s ease 0s;
}

#back-top.active {
  opacity: 1;
  visibility: visible;
}

#back-top:hover {
  background: #00c0ff;
}

/*------------------------------------------------------------------
7. Loader Holder / .loader-holder
-------------------------------------------------------------------*/
.loader-holder {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
}

.loader-holder .block {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

/*------------------------------------------------------------------
8. Responsive / Responsive
-------------------------------------------------------------------*/
@media (max-width: 1023px) {
  .price-sec {
    padding-top: 60px;
  }
  .price-sec h5 {
    margin: 0 0 40px;
  }
}

@media (max-width: 767px) {
  .bg-img {
    min-height: 300px;
    padding: 60px 0 0;
  }
  .bg-img h1 {
    font-size: 50px;
    line-height: 60px;
  }
}
