/*
@media (min-width: 1200px) {
    .container {
        max-width: 1400px !important;
    }
}*/
@media (min-width: 768px) {
    .petmark-header-2 .site-brand {
        padding-top: 3px;
        padding-bottom: 3px;
    }
}
.sticky-header .sticky-logo {
    display: block;
    padding-top: 1px;
    padding-bottom: 1px;
}
.btn {
    border-radius: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    font-size: 14px;
    width: auto !important;
    border-radius: 3px;
}
.site-footer .single-footer {
    padding-bottom: 20px;
}
#scrollUp {
    background: #1a1f2b;
    border: 2px solid #ddd;
    border-radius: 100%;
    cursor: pointer;
    height: 50px;
    position: fixed;
    left: 15px;
    bottom: 0;
    margin-bottom: 15px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    color: #fff;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
    border-radius: 4px;

}
.footer-copyright > p{
    font-size: 14px !important;
    font-weight: 100 !important;
}
.f-o{
    font-size: 11px !important;
}
.pm-product.product-type-list .content {
    overflow: unset;
    padding-bottom: 11px !important;
}
.category-nav__submenu ul li {
    padding: 8px 8px !important;
}
.menu-s{
    border: 1px solid grey;
    border-radius: 5px;
    height:100px;
    max-width: none !important;
}
.category-nav__submenu{
    background: #e4e4e4 !important;
}
.category-widget .search-submit {
    width: 110px !important;
    background: #56a700;
    color: #ffff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0px;
}

@media (min-width: 992px)   {
    .mainmenu li.menu-item-has-children > ul.megamenu.three-column {
        /* min-width: 100% !important; */
        /* left: -100px; */
        /* margin-left: -47rem; */
        /* border: 1px solid #ececec; */
        width: auto !important;
        left: -207px;
    }
}
@media (min-width: 992px)     {
    .mainmenu li.menu-item-has-children > ul.megamenu {
        display: -moz-flex;
        display: -webkit-inline-box;
        /* flex-wrap: nowrap; */
        /* width: 40rem; */
        /* left: 0; */
        /* padding: 14px 25px; */
    }
}

.mainmenu li.menu-item-has-children > ul.megamenu > li > a {
    font-weight: 500;
    font-size: 13px;
    color: #666666;
    text-transform: uppercase;
}
@media (min-width: 992px)       {
    .mainmenu li.menu-item-has-children > ul.megamenu {
        padding: 14px 0px !important;
    }
}
.sh{
    text-shadow:
            0 0 8px #000000,
            1px 1px 0 #00b2bf,
            1px -1px 0 #00b2bf,
            -1px 1px 0 #00b2bf,
            -1px -1px 0 #00b2bf,
            1px 0px 0 #00b2bf,
            0px 1px 0 #00b2bf,
            -1px 0px 0 #00b2bf,
            0px -1px 0 #00b2bf;

/*    text-shadow:
    0 1px 0 #CCCCCC,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
    color: #FFFFFF;*/
}
.sh{
    text-shadow:
            0 0 8px #000000,
            2px 2px 0 #00b2bf,
            2px -2px 0 #00b2bf,
            -2px 2px 0 #00b2bf,
            -2px -2px 0 #00b2bf,
            2px 0px 0 #00b2bf,
            0px 2px 0 #00b2bf,
            -2px 0px 0 #00b2bf,
            0px -2px 0 #00b2bf;

    /*    text-shadow:
        0 1px 0 #CCCCCC,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
        color: #FFFFFF;*/
}
section{
    padding: 30px 0;
}

#accordion-style-1 h1,
#accordion-style-1 a{
    color:#007b5e;
}
#accordion-style-1 .btn-link {
    font-weight: 400;
    color: #007b5e;
    background-color: transparent;
    text-decoration: none !important;
    font-size: 16px;
    font-weight: bold;
    padding-left: 25px;
}

#accordion-style-1 .card-body {
    border-top: 2px solid #007b5e;
}

#accordion-style-1 .card-header .btn.collapsed .fa.main{
    display:none;
}

#accordion-style-1 .card-header .btn .fa.main{
    background: #007b5e;
    padding: 13px 11px;
    color: #ffffff;
    width: 35px;
    height: 41px;
    position: absolute;
    left: -1px;
    top: 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    display:block;
}
#accordion-style-1 .btn-link {
    font-weight: 400;
    color: #007b5e;
    background-color: transparent;
    text-decoration: none !important;
    font-size: 16px;
    font-weight: bold;
    padding-left: 0px !important;
}
@media (min-width: 768px)  {
    .hero-area-two .home-content h2 {
        line-height: 40px;
        font-weight: 700;
        font-size: 48px;
        /* margin-bottom: 47px; */
        position: absolute;
        bottom: -140px;
        left: -10px;
    }
}
.hero-area-two .home-content h4 {
    font-size: 36px;
    font-weight: 600;
    text-transform: none;
    position: absolute;
    margin-bottom: 0px;
    bottom: -190px;
    left: 0px;
}

.mainmenu li.menu-item-has-children > ul.megamenu > li > a:hover {
    color:  rgba(0, 177, 191, 0.95);
}

.menu-s:hover{
    opacity: 0.8;
    border: 2px solid rgba(0, 177, 191, 0.95) ;
}

.hover-btn {
    background: #56a700;
    border-color: #56a700 !important;
    color: #ffff;
}
.sol-btn{
    width: 100% !important;
}
.blog-post .blog-content header {
    margin-bottom: 0px !important;
}
.bsk {
    margin-top: 30px;
}
.hover-baslik {
    color: #56a700 !important;
}
.w-100 {
    width: 100% !important;
    border: 4px solid lightgrey;
}
.reply-btn {
    font-size: .8em;
    width: auto;
    height: 26px;
    line-height: 15px;
    padding: 0px 15px;
}

p.introduction:first-letter {
    font-size:4.2em;
    float: left;
    line-height: 1em;
    margin: 0.13em 0.13em 0.13em 0;
}
.introduction{
    height: 60px;
    overflow: hidden;
}
